
# Build results
[Bb]ulkyBookWeb/[Dd]ebug/
[Bb]ulkyBookWeb/[Dd]ebugPublic/
[Bb]ulkyBookWeb/[Rr]elease/
[Bb]ulkyBookWeb/[Rr]eleases/
[Bb]ulkyBookWeb/x64/
[Bb]ulkyBookWeb/x86/
[Bb]ulkyBookWeb/[Ww][Ii][Nn]32/
[Bb]ulkyBookWeb/[Aa][Rr][Mm]/
[Bb]ulkyBookWeb/[Aa][Rr][Mm]64/
[Bb]ulkyBookWeb/bld/
[Bb]ulkyBookWeb/[Bb]in/
[Bb]ulkyBookWeb/[Oo]bj/
[Bb]ulkyBookWeb/[Ll]og/
[Bb]ulkyBookWeb/[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/

